.perfil-page {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #2d2d2d;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: 3px 0px 20px 8px rgba(255, 56, 255, 0.2);
}

.perfil-page h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #F38FFF;
  text-shadow: 2px 2px 8px rgba(243, 143, 255, 0.5);
}

.perfil-page h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #F38FFF;
  border-bottom: 2px solid #F38FFF;
  padding-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(243, 143, 255, 0.3);
}

.perfil-page h3 {
  font-size: 1.5em;
  color: #F38FFF;
  margin-bottom: 15px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.left-section, .right-section {
  flex: 1;
  min-width: 300px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.left-section:hover, .right-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.perfil-page .profile-photo-section img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: 0; /* Cambiado para mover la imagen a la izquierda */
}

.perfil-page .profile-photo-section input[type="file"] {
  display: block;
  margin-top: 15px;
}

.perfil-page textarea, 
.perfil-page input[type="text"], 
.perfil-page input[type="file"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 1.1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.perfil-page textarea:focus, 
.perfil-page input[type="text"]:focus, 
.perfil-page input[type="file"]:focus {
  background-color: #4a4a4a;
  outline: none;
}

.instruments-genres {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.perfil-page .instruments, .perfil-page .genres {
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  
}

.perfil-page .instruments ul, .perfil-page .genres input[type="text"] {
  background-color: #2a2a2a;
  padding: 1px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin-top: 0;
}

.perfil-page .instruments ul li, .perfil-page .genres input {
  list-style: none;
  font-size: 1.1em;
  margin: 5px 0;
  
}

.perfil-page .instruments ul li {
  display: flex;
  align-items: center;
}

.perfil-page .instruments ul li svg {
  margin-right: 10px;
  color: #F38FFF;
}

.perfil-page .review {
  background-color: #3a3a3a;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
}

.perfil-page .review p {
  margin: 0;
}

.perfil-page .review:hover {
  background-color: #4a4a4a;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.navbar ul {
  display: flex;
  gap: 15px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
  color: #fcfcfc;
}

.navbar .logout-btn {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #eb36ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -30px;
  }

.navbar .logout-btn:hover {
  background-color: #f06fff;
}
