/* Estilos generales para la página de calendario público */
.calendario-public-page {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color: #222831;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  min-height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 130px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

/* Ajuste para el contenido */
.calendario-public-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* Estilos de la barra de navegación */
.calendarioPublic-navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.calendarioPublic-logo img {
  width: 80px;
  height: 80px;
  filter: drop-shadow(2px 2px 6px rgba(255, 200, 100, 0.9));
}

.calendarioPublic-nav-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.calendarioPublic-nav-list li a {
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.calendarioPublic-nav-list li a:hover {
  background-color: #26A295;
  color: #fff;
}

/* Estilos de la sección izquierda (formulario de contacto) */
.calendarioPublic-left-section {
  flex-basis: 40%;
  background-color: #393e46;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(38, 162, 149, 1);
}

.calendarioPublic-left-section h2 {
  color: #f6c90e;
  font-size: 24px;
  margin-bottom: 20px;
}

.calendarioPublic-left-section input,
.calendarioPublic-left-section textarea {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #222831;
  color: #eeeeee;
  font-size: 16px;
}

.calendarioPublic-left-section button {
  padding: 12px 20px;
  background-color: #26A295;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.calendarioPublic-left-section button:hover {
  background-color: #26A295;
  transform: translateY(-3px);
}

.calendarioPublic-left-section button:active {
  background-color: #f4b800;
  transform: translateY(2px);
}

/* Estilos de la sección derecha (calendario) */
.calendarioPublic-right-section {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendarioPublic-right-section h2 {
  text-align: center;
  color: #f6c90e;
  font-size: 24px;
  margin-bottom: 20px;
}

.calendarioPublic-calendar-section {
  background-color: #393e46;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(38, 162, 149, 1);
}

.react-calendar {
  background-color: #222831;
  border-radius: 10px;
  padding: 15px;
  color: #eeeeee;
  transition: all 0.3s ease;
}

.react-calendar__tile--active {
  background-color: #f6c90e;
  color: #393e46;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.logout-btn {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #26A295; /* Verde claro */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -10px;
}

.logout-btn:hover {
background-color: #00adb5; /* Verde claro más intenso */
}
